body {
    background-image: url("dog1.jpeg");
    background-color: #cccccc;
}

.navbar {
    background-color: #4169e1;
}

.text-center::before {
    content:"";
    margin-left:calc(100% - 75%);
}

.btn-secondary, .dropdown-menu{    
    width: 300px;
    text-align: left;
    color: black;
}
